html{
  background-color: #beacba;
}

header {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvf-YSMmM6wtEjYtvf_BPsT4J8XQt0pfxLWg&usqp=CAU);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav li {
  margin: 0;
  padding: 0;
  display: block;
}


h1 {
  color: #b0afc2;
  text-align: center;
}

h2 {
  color:#c75a87;
  text-align: center;
}

h3 {
  color:black;
  text-align: center;
}

footer {
  color:rgb(12, 90, 90)
}



/* unvisited link */
a:link {
  color: #c75a87;

}

/* visited link */
a:visited {
  color: rgb(12, 90, 90);

}

/* mouse over link */
a:hover {
  color: #612940;

}

/* selected link */
a:active {
  color: #4e4c71;

}


header > a {
  text-decoration: none;
  background-color: #ca86a3;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 20px;
}

content > div {
  margin-left: 1em;
}

body > form {
  margin: 2em;
}


body {
  font-size: 20px;
  font-family: 'Sansita Swashed', cursive;
  --primary-color: #7a7878;
  --secondary-color: black;
  --text-primary-color: #9D6381;
  --text-secondary-color: #612940;
}

@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}


@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
}

header {
  height: 90vh;
}

/* visited link nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}

nav > i {
  padding: 1rem;
  font-size: 2em;
}



/* visited link
nav ul {
  margin:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 25%;
}

/* visited link
nav ul {
  display: flex;
  height: 100%;
  padding: 10px;
} */


@media (min-width: 550px){
  header {
    height: 60vh;
  }
}






  home {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }

  footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;

  }





